<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Lihat Data</h1>
<table>
	<tr>
		<td>ID Produk</td>
		<td>Kategori Produk</td>
		<td>Nama</td>
		<td>Harga</td>
		<td>Stok</td>
	</tr>
		{%for i in posts%}
			<tr>
				<td>{{i.id}}</td>
				<td>{{i.kat}}</td>
				<td>{{i.nama}}</td>
				<td>{{i.harga}}</td>
				<td>{{i.stok}}</td>
				<td><a href="/ubah/{{i.id}}">Ubah | 
				<a href="/hapus/{{i.id}}">Hapus</td>
			</tr>
		{%endfor%}
</table>
{% endblock %}